<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Inscript_v5 </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")


</head>
<body style="background-color: #FAF9F6;">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary">
        <div class="container">
            @Html.ActionLink("Digital Scribe", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <ul class="navbar-nav flex-grow-1 navbar-left">
                <li>@Html.ActionLink("Inscriptions", "Filter", "Inscriptions", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("Translations", "Filter", "Translations", new { area = "" }, new { @class = "nav-link" })</li>
                <li>@Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })</li>
                <!--<li>Html.ActionLink("Updates", "Index", "ProjectUpdates", new { area = "" }, new { class = "nav-link" })</li>-->
                <!--<li>Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { class = "nav-link" })</li>-->
            </ul>

            <ul class="navbar-nav navbar-right">
                @if (Session["Role"] != null && Session["Role"].ToString() == "Admin")
                {
                    <li>
                        @* Admin Tools *@
                        @Html.ActionLink("Admin Tools", "AdminIndex", "UserPortal", new { area = "" }, new { @class = "nav-link" })
                    </li>
                }
                @if (Session["UserID"] == null)
                {
                    <li>@Html.ActionLink("Login", "Index", "UserLogin", new { area = "" }, new { @class = "nav-link" })</li>
                }
                else
                {
                    <li>@Html.ActionLink("User Dashboard", "Index", "UserPortal", new { area = "" }, new { @class = "nav-link" })</li>
                    <li class="nav-link">|</li>
                    <li>@Html.ActionLink("Logout", "Logout", "UserLogin", new { area = "" }, new { @class = "nav-link" })</li>
                }
            </ul>
        </div>
    </nav>
    <div class="container body-content" style="padding-bottom: 20px;">
        @RenderBody()

    </div>

    <div style="position: fixed; bottom: 0; width:100%; height: 30px; padding-left: 10px;">
        <footer>
            <p> &copy; @DateTime.Now.Year - Digital Scribe Online (version 1.0)</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>