@model IEnumerable<Inscript_v5.Models.UserInscriptionsModel>



@{
    
    ViewBag.Title = "Index";
}

@{
    if (Session["UserID"] == null)
    {
        Response.Redirect("~/UserLogin/Index");
    }
}

<div class="form-horizontal">
    <div>
        <h5 class="center">Saved Inscriptions</h5>
        <p class="center">@Html.ActionLink("Inscription Database", "Filter", "Inscriptions", new { area = "" }, new { @class = "btn btn-primary btn-sm" })</p>
    </div>
    <div class="table">
        @if (ViewBag.Message != null)
        {
            <p>@ViewBag.Message</p>
        }
        else
        {
            <table class="table">

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.InscriptionName)
                    </th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.InscriptionName)
                        </td>
                        <td>
                            @Html.ActionLink("Details", "Details", "Inscriptions", new { id = item.InscriptionID }, null)
                        </td>
                    </tr>
                }

            </table>
        }
        </div>
</div>


    @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

