@model Inscript_v5.Models.InscriptionsModel

@{
    ViewBag.Title = "Create";
}

<h2>Insert New Inscription</h2>

        @if (ViewBag.NextView == true)
{
          <script>
            function nextView() {
            window.location.href = "/InscriptionText/Create/?id=" + "@Model.InscriptionID";
              }
              nextView();
          </script>
}


@using (Ajax.BeginForm("Create", new { }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "InscriptionsModel" }, new { @id = "InscriptionDetails" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        <h5>Inscription Information</h5>
    </div>

    <table>

        <tr>
            <td class="col-md-10">
                @Html.LabelFor(model => model.InscriptionName, "Inscription Name", htmlAttributes: new { @class = "control-label" })
                <div>
                    @Html.EditorFor(model => model.InscriptionName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.InscriptionName, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>


        <tr class="form-group">
            <td class="col-md-10">
                @Html.LabelFor(model => model.Date, "Date", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Date, null, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>

        <tr class="form-group">
            <td class="col-md-10">
                @Html.LabelFor(model => model.Location, "Location", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Location, null, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>

        <tr class="form-group">
            <td class="col-md-10">
                @Html.LabelFor(model => model.Language, "Language", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Language, null, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Language, "", new { @class = "text-danger" })
                </div>
            </td>
        </tr>
    </table>


    <br />

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">

            <input type="submit" value="Next" class="btn btn-default" onClick="nextView()" />

        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
