@model Inscript_v5.Models.InscriptionsModel

@{
    ViewBag.Title = "Details";
}
<head>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<style>
    #titleheader {
        font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
        font-size: 15px;
        font-weight: 700;
    }

    #semiticText {
        display: inline;
        margin: 0;
        padding: 0;
        border: none;
        font-family: Time New Roman;
        font-size: 15pt;
        line-height: 1.6;
        background-color: transparent;
        text-align: right;
    }

    #formatedText {
        margin: 0;
        padding: 0;
        border: none;
        font-family: Time New Roman;
        font-size: 16pt;
        line-height: 1.62;
        background-color: transparent;
    }

    .shadow-box {
        width: 200px; /* Set the width as needed */
        height: 200px; /* Set the height as needed */
        border: 1px solid #ccc; /* Add a border */
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Apply the shadow */
        background-color: white; /* Set the background color */
    }

    .padding-container {
        padding: 20px; /* Adjust as needed */
    }
</style>


<script src="~/Scripts/jquery-3.7.0.min.js"></script>

<script>

    $(document).ready(() => {

        if (@ViewBag.LoggedIn.ToString().ToLower() && @ViewBag.IsSaved.ToString().ToLower()) {
            $(".SaveButton").hide();
            $(".RemoveButton").show();
            $(".LoginButton").hide();


        }
        else if (@ViewBag.LoggedIn.ToString().ToLower() && !@ViewBag.IsSaved.ToString().ToLower()) {
            $(".SaveButton").show();
            $(".RemoveButton").hide();
            $(".LoginButton").hide();
        }
        else {
            $(".SaveButton").hide();
            $(".RemoveButton").hide();
            $(".LoginButton").show();
        }
    });

    function SaveInscription() {
        $.ajax({
            url: '@Url.Action("SaveInscription", "Inscriptions")',
            data: {
                id: @Model.InscriptionID,
            }
        })
        $(document).ajaxStop(function () {
            window.location.reload();
        });
    }

    function RemoveInscription() {
        $.ajax({
            url: '@Url.Action("RemoveInscription", "Inscriptions")',
            data: {
                id: @Model.InscriptionID,
            }
        })
        $(document).ajaxStop(function () {
            window.location.reload();

        });
    }


</script>

<!-- <h2>Details</h2> -->

<div class="center">
    <div class="flex-item" style="display: felx; flex-wrap: wrap; justify-content: center; text-align:center;">
        <dl>
            <dd class="SaveButton">
                <h1>
                    @Html.DisplayFor(model => model.InscriptionName)
                    <button type="button" style="border:none !important; background-color:transparent !important" onclick="SaveInscription()" aria-label="Save">
                        <i class="fa-regular fa-star" style="color: #eb6864; font-size: 25px;"></i>
                    </button>
                </h1>
            </dd>
            <dd class="RemoveButton">
                <h1>
                    @Html.DisplayFor(model => model.InscriptionName)
                    <button type="button" style="border:none !important; background-color:transparent !important" onclick="RemoveInscription()" aria-label="Remove">
                        <i class="fa-solid fa-star" style="color: #eb6864; font-size: 25px;"></i>
                    </button>
                </h1>
            </dd>
            <dd class="LoginButton">
                <h1>
                    @Html.DisplayFor(model => model.InscriptionName)
                    <a class="btn btn-sm" href="@Url.Action("Index", "UserLogin", new { returnUrl = Request.Url.AbsoluteUri })">LOGIN to Save</a>
                </h1>
            </dd>


            <dd>
                @Html.DisplayFor(model => model.Location)
                |
                @Html.DisplayFor(model => model.Date)
                |
                @Html.DisplayFor(model => model.Language)
            </dd>

        </dl>
        <br />
    </div>

    <!--<div class="flex-items">
        Translation Dropdown
    </div>
    -->
</div>


<body>
    <div class="center">
            <div class="card" style="display: inline-block; width: 50%; min-width: 25%; max-width: 50%; margin: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 5px;">
                <!-- Inscription Text -->
                @{Html.RenderAction("Details", "InscriptionText", new { id = Model.InscriptionID });}
                <br />
            </div>
            <div class="card" style="display: inline-block; width: 50%; min-width: 25%; max-width: 50%; margin: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 5px; ">
                <!-- Translations -->
                @{Html.RenderAction("Details", "Translations", new { id = Model.InscriptionID, tid = 0 });}
            </div>
    </div>
            <div class="center" style="width:100%;">
                <div style="display: inline-block; width: 50%; max-width: 50%; margin: 10px; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2); padding: 5px; ">
                    <h6>
                        @Html.LabelFor(model => model.Notes, "Inscription Notes")
                    </h6>
                    <pre id="formattedText" class="preformatted-text">@Html.Raw(Model.Notes)
                </pre>
                </div>
                <div style="display: inline-block; width: 50%; max-width: 50%; margin: 10px; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2); padding: 5px; ">
                    @{Html.RenderAction("TranslationNotes", "Translations", new { id = Model.InscriptionID, tid = 0 });}
                    <div style="padding-top: 10px">
                        @{
                            if (Session["UserID"] == null)
                            {

                                <div>
                                    <a class="btn btn-sm" href="@Url.Action("Index", "UserLogin", new { returnUrl = Request.Url.AbsoluteUri })">LOGIN to create translation</a>
                                </div>
                            }
                            else
                            {
                                <div>
                                    @Html.ActionLink("Create Translation", "Create", "Translations", new { id = Model.InscriptionID }, new { @class = "btn btn-sm" })
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>



</body>

<br />
<hr />


<div class="content">
    <p>
        @Html.ActionLink("Back to Database", "Filter")
    </p>
</div>


