@model IEnumerable<Inscript_v5.Models.InscriptionsModel>

@{
    ViewBag.Title = "Filter";
}

<script>
    function clearSearch() {
        document.getElementById("SearchText").value = "";
        document.forms[0].submit(); 
    }
</script>

<div class="card" style="width: 100%; margin: 0 auto; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 10px;">
    <h1 id="pageHeading" class="center">Inscription Database</h1>
    <div class="center" >
        @using (Html.BeginForm("Filter", "Inscriptions", FormMethod.Get, new { @class = "form-inline" }))
        {
            <table>
                <tr>
                    <td>
                    @Html.TextBox("SearchText", null, new { id = "SearchText", @class = "form-control" })
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        <button type="button" onclick="clearSearch()">Clear Search</button>
                    </td>
                </tr>
            </table>
     }
    </div>
    <div class="center">
        ** Search includes Inscription Details, Inscription Text, and Translation Text **
    </div>

<br />

<table id="inscriptionsTable" class="table">
    <tr id="tableHeading" class="text-center">
        <th>
            <h5>@Html.DisplayNameFor(model => model.InscriptionName)</h5>
        </th>
        <th>
            <h5>@Html.DisplayNameFor(model => model.Date)</h5>
        </th>
        <th>
            <h5>@Html.DisplayNameFor(model => model.Language)</h5>
        </th>
        <th>
            <h5>@Html.DisplayNameFor(model => model.Location)</h5>
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                <a href="@Url.Action("Details", "Inscriptions", new { id = item.InscriptionID })">
                    @Html.DisplayFor(modelItem => item.InscriptionName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>
        </tr>
    }

</table>
</div>
<br />

