@model IEnumerable<Inscript_v5.Models.InscriptionsModel>

@{
    ViewBag.Title = "Index";
}

<script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
<script>
    $(document).ready(function () {
        // Function to update the table based on search criteria
        function updateTable(searchText) {
            $.ajax({
                url: '@Url.Action("Filter", "Inscriptions")',
                type: 'GET',
                data: { searchText: searchText },
                success: function (data) {
                    // Update the existing table with the new search results
                    $("#inscriptionsTable").html(data);
                }
            });
        }

        // Initially, load the table with all data
        updateTable(null);

        // Handle input change event in the search box
        $("#SearchText").on("input", function () {
            var searchText = $(this).val();
            if (searchText.length >= 3 || searchText.length === 0) {
                // Update the table based on the search text (or all data if empty)
                updateTable(searchText);
            }
        });
    });
</script>

<h2 class="center">Inscription Database</h2>

<div class="center">
    Search @Html.TextBox("SearchText", null, new { id = "SearchText", @class = "form-control" })
</div>


<hr />
<table id="inscriptionsTable" class="table">
    <tr class="text-center">
        <th>
            @Html.DisplayNameFor(model => model.InscriptionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Language)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="text-center">
            <td>
                <a href="@Url.Action("Details", "Inscriptions", new { id = item.InscriptionID })">
                    @Html.DisplayFor(modelItem => item.InscriptionName)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Language)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Location)
            </td>

            <td>
                @{
                    if (Session["UserID"] != null)
                    {
                        <a href="@Url.Action("Create", "Translations", new { id = item.InscriptionID})" class="btn btn-sm">Create Translation</a>
                    }
                }
            </td>
        </tr>

    }

</table>



