@model IEnumerable<Inscript_v5.Models.TranslationsModel>

@{
    ViewBag.Title = "Filter";
}

<script>
    function clearSearch() {
        document.getElementById("SearchText").value = "";
        document.forms[0].submit();
    }
    
</script>

<div class="card" style="width: 100%; margin: 0 auto; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 10px;">
    <h1 class="center">Translation Database</h1>

    <div class="center">
        @using (Html.BeginForm("Filter", "Translations", FormMethod.Get, new { @class = "form-inline" }))
        {
            <table>
                <tr>
                    <td>
                        @Html.TextBox("SearchText", null, new { id = "SearchText", @class = "form-control" })
                    </td>
                    <td>
                        <button type="submit" class="btn btn-primary">Search</button>
                    </td>
                </tr>
                <tr>
                    <td class="center">
                        <button type="button" onclick="clearSearch()">Clear Search</button>
                    </td>
                </tr>
            </table>
        }
    </div>
    <div class="center">
        ** Search includes Inscription, Translation Name, and Translation Text **
    </div>

    <br />

    <div class="table-container">
        <table class="table">
            <tr>
                <th>
                    <h5>@Html.DisplayNameFor(model => model.InscriptionName)</h5>
                </th>
                <th>
                    <h5>@Html.DisplayNameFor(model => model.TranslationName)</h5>
                </th>
            </tr>


            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InscriptionName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TranslationName)
                    </td>

                    <td>
                        <a href="@Url.Action("Details", "Inscriptions", new { id = item.InscriptionID})" class="btn btn-sm">Details</a>
                    </td>
                </tr>

            }

        </table>
    </div>

</div>
<br />
