@model Inscript_v5.Models.TranslationsModel

@{
    ViewBag.Title = "TranslationNotes";
}

<style>
    #formattedText {
        display: inline;
        margin: 0;
        padding: 0;
        border: none;
        font-family: Time New Roman;
        font-size: 12pt;
        line-height: 1.6;
        background-color: transparent;
        text-wrap: wrap
    }
</style>

<table>
    <tr class="form-group">
        <th>
            <h6>
                @Html.LabelFor(model => model.Notes, "Translation Notes")
            </h6>
        </th>
    </tr>
    <tr>
        <td>
            <div>
                <pre id="formattedText" class="preformatted-text">@Html.Raw(Model.Notes)
                    </pre>
            </div>
        </td>
    </tr>
</table>
<table>
    <tr class="form-group">

        <td>
            @Html.LabelFor(model => model.TranslationName, "Translation: ")
            @Html.DisplayFor(model => model.TranslationName)

        </td>
    </tr>
    <tr class="form-group">
        <td>
            @Html.LabelFor(model => model.UserName, "User: ")
            @Html.DisplayFor(model => model.UserName)
        </td>
    </tr>
</table>

