@model Inscript_v5.Models.TranslationsModel

@{
    ViewBag.Title = "UserTranslationDetails";
}

<style>
    #titleheader {
        font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
        font-size: 15px;
        font-weight: 700;
    }

    #semiticText {
        display: inline;
        margin: 0;
        padding: 0;
        border: none;
        font-family: Time New Roman;
        font-size: 15pt;
        line-height: 1.6;
        background-color: transparent;
    }

    #formattedText {
        margin: 0;
        padding: 0;
        border: none;
        font-family: "News Cycle", "Arial Narrow Bold", sans-serif;
        font-size: 15pt;
        line-height: 1.6;
        background-color: transparent;
    }
</style>

<h4 class="center">
    User Translation
</h4>

<div class="center">
    <div class="flex-item" style="display: felx; flex-wrap: wrap; justify-content: center; text-align:center;">
        @{Html.RenderAction("InscriptionDetails", "Inscriptions", new { id = Model.InscriptionID });}
    </div>
</div>
<!--<div class="center">
    <div class="flex-item" style="display: felx; flex-wrap: wrap; justify-content: center; text-align:center;">
        Html.DropDownListFor(model => model.TranslationID, new SelectList(Model.Translations, "TranslationID", "TranslationName"), "- - Saved Inscriptions - -", new { style = "font-size: medium; text-align: center;" })
        <button id="loadDetailsBtn" class="btn btn-default">Load Details</button>
    </div>
</div>
    -->

<body>
    <div class="center">
        <div class="card" style="display: inline-block; width: 50%; min-width: 25%; max-width: 50%; margin: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 5px;">
            <!-- Inscription Text -->
            @{Html.RenderAction("Details", "InscriptionText", new { id = Model.InscriptionID });}
            <br />
        </div>
        <div class="card" style="display: inline-block; width: 50%; min-width: 25%; max-width: 50%; margin: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); padding: 5px; ">
            <!-- Translations -->
            @{Html.RenderAction("Details", "Translations", new { id = Model.InscriptionID, tid = Model.TranslationID });}
        </div>
    </div>
    <div class="center" style="width:100%;">
        <div style="display: inline-block; width: 50%; max-width: 50%; margin: 10px; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2);  padding: 5px; ">
            @{Html.RenderAction("InscriptionNotes", "Inscriptions", new { id = Model.InscriptionID });}
        </div>
        <div style="display: inline-block; width: 50%; max-width: 50%; margin: 10px; box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.2); padding: 5px; ">
            @{Html.RenderAction("TranslationNotes", "Translations", new { id = Model.InscriptionID, tid = Model.TranslationID });}
            <div style="padding-top: 10px">
                @{
                    var user = Model.CreatedByUserID;
                    var sessionUserID = Convert.ToInt32(Session["UserID"]);
                    if (sessionUserID == user)
                    {
                        <a href="@Url.Action("EditTranslationText", "Translations", new { InscriptionID = Model.InscriptionID, TranslationID = Model.TranslationID })" class="btn btn-sm">Edit Translation</a>
                    }
                }
            </div>
            <div style="padding-top: 10px">
                @{
                    if (Session["UserID"] == null)
                    {

                        <div>
                            <a class="btn btn-sm" href="@Url.Action("Index", "UserLogin", new { returnUrl = Request.Url.AbsoluteUri })">LOGIN to create translation</a>
                        </div>
                    }
                    else
                    {
                        <div>
                            @Html.ActionLink("Create Translation", "Create", "Translations", new { id = Model.InscriptionID }, new { @class = "btn btn-sm" })
                        </div>
                    }
                }
            </div>
        </div>
    </div>



</body>

<br />

<hr />

<div>
    @Html.ActionLink("Back to Dashboard", "Index", "UserPortal")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
