@model Inscript_v5.Models.UserModel


@{
    ViewBag.Title = "Index";
}

<head>
   
    <title> User Login </title>
    <style>
        #login-div {
            position: absolute;
            left: 40%;
            padding: 10px 10px;
        }
    </style>
</head>
<body>
    <div id="login-div">
        @using (Html.BeginForm("Authorize", "UserLogin", FormMethod.Post))
        {
            <table>
                <tr>
                    <td></td>
                    <td>Login</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Email, "User Email", htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Email)
                    </td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(model => model.Password, "Password", htmlAttributes: new { @class = "control-label" })</td>
                    <td>@Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })</td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        @Html.ValidationMessageFor(model => model.Password)
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <label class="field-validation-error">@Html.DisplayFor(model => Model.LoginErrorMessage)</label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <input type="submit" value="Login" class="btn btn-default" />
                    </td>

                </tr>
            </table>

        }

    <script src="~/Scripts/jquery-3.6.4.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

    </div>
</body>
